<h2><%=@user.user_name%></h2>

<h4><%=@user.user_name%>'s Comments:</h4>
<ul style="height:400px;">
  <% @user.posts.each do |post|%>
  <div class="list_element">
    <li class="list_item"><b> <%=Location.find(post.location_id).name %> </b></li>
    <p class="post_content">
      <%= post.content %>
    </p>
    <script type="text/javascript">
    $(".post_content").hide();
    $(".list_element").click(function(){
      $(".post_content").toggle(400)
    });
    </script>
    <% end %>
  </div>
</ul>
